Repository jrobic/contact-crm-labs, changes with the labels that .github/labeler.yml gives for each.
All labels: apps/api, apps/client, packages, database, critical, infra, docs

.github/labeler.yml:

apps/api:
  - apps/api*/*
apps/client:
  - apps/client*/*

packages:
  - packages/**/*

database:
  - apps/**/*.sql

critical:
  - apps/**/*.sql

infra:
  - infra/**/*

docs:
  - docs/**/*
  - README.md

feat(api-node): init package
  apps/api-node/.eslintrc.js
  apps/api-node/package.json
  apps/api-node/src/cmd/http/main.ts
  apps/api-node/src/docs/.keep
  apps/api-node/src/domain/entity/.keep
  apps/api-node/src/domain/interface/.keep
  apps/api-node/src/domain/validator/.keep
  apps/api-node/src/infrastructure/http/.keep
  apps/api-node/src/infrastructure/repository/.keep
  apps/api-node/src/usecase/.keep
  apps/api-node/tsconfig.build.json
  apps/api-node/tsconfig.json
  apps/api-node/vitest.config.ts
  packages/scripts/package.json
  packages/scripts/typescript/base.json
  packages/scripts/typescript/nestjs.json
  pnpm-lock.yaml
Labels: apps/api, packages

feat(api-node): add prisma
  .github/workflows/ci.yml
  apps/api-node/package.json
  apps/api-node/prisma/migrations/20230101172017_create_contact_model/migration.sql
  apps/api-node/prisma/migrations/migration_lock.toml
  apps/api-node/prisma/schema.prisma
  apps/api-node/src/cmd/http/main.ts
  apps/api-node/src/modules/contact/infrastructure/repository/contact-pg.repository.ts
  apps/api-node/src/modules/core/index.ts
  apps/api-node/src/modules/core/infrastructure/db/prisma.plugins.ts
  apps/api-node/src/modules/core/infrastructure/db/prisma.ts
  apps/api-node/src/modules/core/infrastructure/http/server.ts
  docker-compose.yml
  pnpm-lock.yaml
Labels: apps/api, database, critical

wip
  apps/api-node/src/seed.ts
  apps/api-node/src/utils/testing.ts
Labels: none

feat(api-node): use faker to generate fake data
  apps/api-node/package.json
  apps/api-node/src/modules/contact/domain/entity/.keep
  apps/api-node/src/modules/contact/domain/index.ts
  apps/api-node/src/modules/contact/domain/repository/contact-repository.interface.ts
  apps/api-node/src/modules/contact/infrastructure/http/controller/contact-controller.spec.ts
  apps/api-node/src/modules/contact/infrastructure/repository/contact-inmemory.repository.ts
  apps/api-node/src/modules/contact/infrastructure/repository/contact-pg.repository.ts
  apps/api-node/src/modules/contact/usecase/contact/contact.usecase.spec.ts
  apps/api-node/src/modules/contact/usecase/contact/create-contact.usecase.ts
  apps/api-node/src/modules/contact/usecase/contact/get-contact.usecase.ts
  apps/api-node/src/modules/contact/usecase/contact/get-contacts.usecase.ts
  apps/api-node/src/modules/contact/usecase/contact/remove-contact.usecase.ts
  apps/api-node/src/modules/core/domain/builder/contact.builder.ts
  apps/api-node/src/modules/core/domain/builder/index.ts
  apps/api-node/src/modules/core/domain/entity/.keep
  apps/api-node/src/modules/core/domain/entity/contact.entity.ts
  apps/api-node/src/modules/core/domain/entity/index.ts
  apps/api-node/src/modules/core/domain/index.ts
  apps/api-node/src/seed.ts
  apps/api-node/src/utils/faker.ts
  apps/api-node/src/utils/index.ts
  apps/api-node/src/utils/testing.ts
  apps/api-node/tsconfig.build.json
  config/.keep
  pnpm-lock.yaml
Labels: apps/api

feat(api-node): add open telemetry
  apps/api-node/package.json
  apps/api-node/prisma/schema.prisma
  apps/api-node/src/cmd/http/main.ts
  apps/api-node/src/modules/core/infrastructure/http/otel.ts
  docker-compose.yml
  infra/.keep
  infra/grafana/provisioning/dashboards/default.yml
  infra/grafana/provisioning/dashboards/trafik_dashboard.json
  infra/grafana/provisioning/datasources/prometheus_ds.yml
  infra/prometheus.yml
  pnpm-lock.yaml
Labels: apps/api, infra

wip
  apps/api-node/package.json
  apps/api-node/src/cmd/http/main.ts
  apps/api-node/src/modules/contact/infrastructure/repository/contact-pg.repository.ts
  apps/api-node/src/modules/contact/infrastructure/repository/contact-prisma.repository.ts
  apps/api-node/src/modules/core/infrastructure/db/pg.ts
  apps/api-node/src/seed.ts
  pnpm-lock.yaml
Labels: apps/api

feat(api-node): add index to createdAt
  apps/api-node/package.json
  apps/api-node/prisma/migrations/20230107171500_add_index_to_created_at_on_contact/migration.sql
  apps/api-node/prisma/schema.prisma
Labels: apps/api, database, critical
